body {
    font-family: "Lateef", cursive, sans-serif;
    background-color: pink;
    font-size: 25px;
}

h1, h2, h3, h4, .card-title, .card-img-overlay {
    font: 500 1.25rem "Lateef", cursive;
    color: #ce4165;
}

.card-title {
    font-weight: 500;
    font-size: 1.25rem;
}

.card-img-overlay .card-title {
    color: white;
    background-color: rgba(224, 160, 160, 0.5);
}

.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}

.site-footer {
    background-image: linear-gradient(pink, white);
    padding: 20px 0;
}

.jumbotron {
    margin: 0;
    padding: 20px;
    background-image: linear-gradient(white, pink);
    margin: 0;
}

.jumbotron h2 {
    color: #ce4165;
}

.navbar-dark {
    background-color: #ce4165;
}

.fa {
    color:white;
}

.btn-social-icon {
    background-color: #ce4165;
    color: white;
}

a, a:hover {
  color: inherit;
  text-decoration: none;
}